*,
*::after,
*::before {
    box-sizing: border-box;

}

:root {
    --font-primary: "Playfair Display", serif;
    --font-color: rgb(121, 120, 120);
    --gray-transparent: color-mix(in srgb, var(--font-color), transparent 50%);
    --lightblue: #add8e6;
    --background-primary: #fff;
    --background-secundary: papayawhip;
    --default-second: 0.5s;
}

html {
    font-size: 100%;
    font-family: var(--font-primary);
}

body {
    min-height: 100dvh;
    background-color: var(--background-primary);
    color: var(--font-color);
}

/*===== 
 HEADER
 ======*/
.header-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

}

.header-gallery__logo {
    grid-column: 1 / 2;
    grid-row: 1;
    margin: .5rem 0;
}

.header-gallery__logo a {
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--font-color);
}

.header-gallery__search {
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    margin: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


input[type="search"] {
    padding: .5rem;
    width: 100%;
    padding-right: 3rem;
    outline: 1px solid transparent;
    border: 1px solid var(--gray-transparent);

}

input[type="search"]::placeholder {
    padding: 0 0 0 .5rem;
    color: var(--gray-transparent);
}


button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    color: var(--gray-transparent);
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.menu--disable {
    display: none;
}



.header-gallery__menu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style-type: none;
}

.header-gallery__menu a {
    color: transparent;
    font-size: 0;
}

.header-gallery__nav svg {
    color: var(--font-color);
}

/*======
   MAIN
========*/

.hero {
    margin: 1.5rem 0 0 0;

}

.hero-gallery {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
}

.hero-gallery__content {
    margin: 2rem 0;
    padding: 0 2rem;

}

.hero-gallery__title {
    font-size: 2.5rem;
    font-weight: 500;
}

.hero-gallery__content p {
    font-size: 1.3rem;
    font-weight: 300;
    padding: .5rem 0 0 .5rem;
    line-height: 1.4;
    text-align: left;

}


.btn {
    padding: 1rem 0 2rem 0;
}

.hero-gallery__btn {
    display: inline-block;
    background-color: var(--font-color);
    padding: 1rem 2rem;

    text-align: center;
    letter-spacing: .2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;

}

.hero-gallery__guarantee {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.hero-gallery__guarantee::after {
    content: "➝";
    padding: 0 0 0 .1rem;
    display: inline-block;

}

/*====== 
  CARD 
=======*/

.card-art {
    background-color: var(--background-secundary);
    padding: 3rem 1rem;
    display: grid;
    gap: .5rem;
}


.card-art__container {
    text-align: left;
}

.card-art__img {
    aspect-ratio: 4 / 4;
    overflow: hidden;
    padding-bottom: .5rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-art__content h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

.card-art__content p {
    font-size: 1.1rem;
    font-weight: 100;
    padding: .5rem 0;

}

.card-art__btn {
    display: inline-block;
    padding: .5rem 2rem;
    background-color: transparent;
    border: 2px solid var(--font-color);
    color: var(--font-color);

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    margin-top: auto;
}


/*======================= 
 RESPONSIVIDADE 31.25em
=========================*/

@media screen and (min-width: 31.25em) {

    body {
        margin: 0;
        top: 0;
    }

    .header-gallery {
        display: flex;
        align-items: center;
        padding: 0 .5em;
        gap: 1em;
    }

    .header-gallery__logo {
        margin-right: auto;
    }


    .header-gallery__menu {
        margin: 0;
        padding: 0;
    }

    .header-gallery__search {
        margin: 0;
        position: relative;
        display: block;

    }

    input[type="search"] {

        padding: .2em .2em;
        width: 100%;

        outline: 1px solid transparent;
        border-color: var(--gray-transparent);

    }


    button svg {
        max-width: 1.2em;
        padding-top: .1em;
    }

}


/*==================
 RESPONSIVIDADE 48em
===================*/

@media screen and (min-width: 48em) {

    .header-gallery {
        padding: 0 1em;
    }

    .hero-gallery {
        flex-direction: row;
        align-items: center;

    }

    .hero-gallery__img {
        max-width: 500px;
    }

    .hero-gallery__content {
        display: inline-block;
        text-align: left;
        margin: 0 2em 1em 2em;
        padding: 0;
    }

    .header-gallery__logo a{
        transition: color var(--default-second) ease;
    }

     .header-gallery__logo a:hover{
        color: var(--lightblue);
    }


    .hero-gallery__guarantee {
        font-size: 1.1em;
    }

    .hero-gallery__title {
        font-size: 2.5em;
    }

    .hero-gallery__btn {
        text-align: center;
        transition: background-color var(--default-second) ease-out,
            color var(--default-second) ease;
    }

    .hero-gallery__btn:hover {
        background-color: var(--lightblue);
        color: black;
    }

    .hero-gallery__guarantee::after {
        transition: transform var(--default-second) ease;
    }

    .hero-gallery__guarantee:hover::after {

        transform: translateX(3px);
    }


    .header-gallery__nav svg{
        transition: color var(--default-second) ease;
    }

    .header-gallery__nav svg:hover{
        color: var(--lightblue);
    }


    .card-art {
        grid-template-columns: repeat(3, 1fr);

    }

    .card-art__container {
        display: flex;
        flex-direction: column;
    }

    .card-art__btn {
        align-self: flex-start;
        padding: .5rem;

        transition: background-color var(--default-second) ease, 
          border-color var(--default-second) ease;
    }

    .card-art__btn:hover{
        background-color: var(--lightblue);

        border-color: var(--lightblue);
    }

    .card-art__content p {
        font-size: 1.1em;
        font-weight: 100;

    }




}


/*===================
 RESPONSIVIDADE 64em
====================*/

@media screen and (min-width: 64em) {

    .hero-gallery__content {
        margin: 0 0 3em 3em;


    }

    .hero-gallery__title {
        font-size: 3.5em;
    }
}

/*===================
 RESPONSIVIDADE 75em
====================*/

@media screen and (min-width: 75em) {

    .menu--active {
        display: flex;
    }

    .icon--disable {
        display: none
    }

    .header-gallery {
        align-items: center;
        background-color: var(--background-primary);
        padding: .5em;
        position: sticky;
        top: 0;
        z-index: 10;

    }

    .header-gallery__logo {
        margin-left: auto;
        padding: 0;
    }

     .header-gallery__menu a {
        text-decoration: none;
        font-size: 1.1em;
        color: var(--font-color);
        letter-spacing: 1px;
        padding-bottom: .2em;
        border-bottom: 2px solid transparent;

        transition: color var(--default-second) ease;
    }

    .header-gallery__menu a:hover{
      border-bottom: 2px solid var(--font-color);
      color: var(--lightblue);
    }
    

    .hero-gallery {
        gap: .1em;
        justify-content: space-around;

    }

    .hero-gallery__content {
        margin: 0 2em;
        width: 30ch;
    }

    .hero-gallery__title {
        font-size: 4em;

    }

    .card-art__img {
        aspect-ratio: 3 / 4;
    }

}